*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Cabecera*/
header{
    background-color: rgb(9, 4, 4);
}

#logo__imagen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

@media only screen and (min-width: 375px){
    #logo__imagen{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media only screen and (min-width: 768px){
    #logo__imagen{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}



@media only screen and (min-width: 1280px){
    #logo__imagen{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}


.logo__imagen__spa{
    flex-grow: 2;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
      
}

.logo__imagen__spa{
    display: flex;
}

@media only screen and (min-width: 375px){
    .logo__imagen__spa{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}



.logo__imagen__spa--redes{
    flex-grow: 1;
      
}

.imagen_redes{
    width: 3rem;
    height: 3rem;
}

.imagen_spa{
    width: 15rem;
    height: 15rem;
}

    
/*Menu*/
.enlace__nav{
    text-align:center;
    z-index: 1;
    align-items: center;
}


nav{
    background-color:  rgb(242, 13, 174);
    border: solid 0px black;

}

nav ul li {
    font-family: sans-serif;
    list-style: none;
    display: inline-block;  
    font-weight: bold;
    padding: 10px;

    
}

nav ul li:hover ul{
    display: block; 
}


nav ul li:hover ul li a{
    background-color: rgb(242, 13, 174);
    display: block; 
}

nav ul ul{
    position: absolute;
    display: none;
}

nav ul ul li{
    display: block;
}

nav ul li a{
    color: beige;
    
}

nav ul li a:hover{
    color: rgb(240, 9, 136); 
        
}

a.enlace__nav__menu{
    text-decoration:solid;
    border-radius:20px;
    border:1px solid #ab1866;
    width: 150px;
    display:block;
    position: relative;
    cursor:pointer;
	color:#ffffff;
    font-size:17px;
    padding:4px 2px;
    background:linear-gradient(rgb(233, 227, 230) 0%, 
  rgb(15, 15, 14) 20%,rgb(238, 5, 149) 100%) #e0dddd;
     z-index: 1; 
     align-items: center;  
}


@media only screen and (min-width: 375px){
    a.enlace__nav__menu{
        width: 20rem;
        align-items: center;
          
    }

}

@media only screen and (min-width: 1280px){
    a.enlace__nav__menu{
        align-items: center;
        width: 150px;
        display:block;
        position: relative;
        
          
    }

}




a.enlace__nav__menu:hover {
	background-color:#13060d;
}


h1{
    color: rgb(242, 13, 174);
    font-size: 50px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: x-large;
    color: #f3f3f7;
}
section{
    background-color: rgb(242, 13, 174);
}


img{
    border: solid 4px white;
    margin-top: 1px;
    margin-bottom: 2rem;
    width: 100rem;
    height: 30rem;
}

.alinear__texto{
    scroll-snap-align: center;
    scroll-snap-stop: always;
    background-color: black;
    padding-top: 5rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.separar{
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    background-color: #e0dddd;
    }
  
    @media only screen and (min-width: 375px){
        .servicios{
            grid-template-columns: repeat(1, 1fr);
            row-gap: 1rem;
            align-items: center;
        }
    }
     
    @media only screen and (min-width: 768px){
        .servicios{
            grid-template-columns: repeat(3, 1fr);
            column-gap : 1rem;
            align-items: center;
        }
    }
    
    @media only screen and (min-width: 1280px){
        .servicios{
            grid-template-columns: repeat(3, 1fr);
            column-gap : 1rem;
            align-items: center;
        }
    }
    
    


.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}


 .iconos img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }



/*Contacto*/
.formulario{
    width: min(60rem, 100%); /* Utiliza el valor mas pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}



 .formulario fieldset{
     border: solid 1px rgb(36, 3, 15);
     margin-bottom: 0%;
 }

 .formulario legend{
     text-align: center;
     font-size: 1.8rem;
     text-transform: uppercase;
     font-weight: 700;
     margin-bottom: 2rem;
    color: rgb(9, 8, 8);
 }

 .campo{
     margin-bottom: 2rem;
     display: grid;
 }
 
 .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;  /* 2 columnas*/
        grid-template-rows: auto auto 20rem;  /* 3 filas*/
        column-gap: 1rem;
        height: 20rem;
     }

     @media only screen and (min-width: 375px){
        .contenedor-campos{
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto 20rem;
            row-gap: 1rem;
            align-items: center;
        }
    }
    

    @media only screen and (min-width: 1280px){
        .contenedor-campos{
            display: grid;
            grid-template-columns: 50% 50%;  /* 2 columnas*/
            grid-template-rows: auto auto 20rem auto;  /* 3 filas*/
            column-gap: 1rem;
            height: 20rem;
        }
    }
    

 .campo label{
     color:rgb(18, 18, 17);
     margin-bottom: 1rem;
     margin-right: 15rem;
     font-weight: bold;
     display: block;
 }

 .campo input{
    align-items: center;
    margin-left: 2rem;
 }

 .input-text{
     width: 80%;
     border: none;
     padding: 1.5rem;
     border-radius: .5rem;
 }

 .campo textarea{
     height: 10rem;
     margin-left: 2rem;
 }

.boton{
    margin-top: 1rem;
    padding: 1rem;
    align-items: center;
}

.alinear-derecha input{
    align-items: center;
    margin-top: 20%;
    
}

@media only screen and (min-width: 375px){
    .alinear-derecha input{
        margin: 25rem;
        margin-bottom: 1rem;
        align-items: flex-end;
    }
        
    
}

@media only screen and (min-width: 1280px){
    .alinear-derecha input{
        margin: 10rem;
        margin-bottom: 1rem;
        align-items: flex-end;
    }
    
}





/*Pie de Pagina*/
footer{
    background-color:  rgb(10, 4, 8);
    display:grid;
    flex-direction: column;
    padding: auto;
}

@media only screen and (min-width: 375px){
    .footer{
        display: grid;
        grid-template-columns: 100%;  /* 1 columnas*/
        grid-template-rows: auto 20rem;  /* 2 filas*/
        column-gap: 1rem;
        height: 20rem;
        width: 100%;
        padding-top: 50rem;

    }
}



footer p{
    font-size: large;
    color: #f0f4f4;
    text-align: center;
    
}

fieldset{
    padding-bottom: 1rem;
}

@media only screen and (min-width: 375px){
    .fieldset{
        margin: 10rem;

    }
}
